.user-bookings {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 2em;
}

.user-bookings-container    {
    width: 90%;
    text-align: center;
}

.user-bookings-header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.11);
}

.user-bookings-header > h2{
    font-size: 1.5em;
}
