.reviews-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: start;
  padding: 0;
}

.spot-review-card {
  border-bottom: 1px solid rgba(0, 0, 0, .11);
  padding: 1.5em 0;
  width: 100%;
}

.spot-reviews-container {
  padding: 0 3em 0 3em;
  width: 100%;
}

.spot-reviews-header {
  align-items: center;
  display: flex;
  gap: .5em;
  width: 100%;
  padding: 1.5em 0 2.5em 0;
}

.spot-reviews-header>span {
  font-size: 22px;
}
