.sign-up-btn {
  background-color: white;
  border: none;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.2s ease;
  text-align: left;
  width: 100%;
}

.sign-up-btn:hover {
  background-color: rgba(0, 0, 0, .06);
}
