#about-modal {
  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
}

#about-modal-content {
  background-color: white;
  border-radius: 1em;
  height: 46.5em;
  padding: 1.5em;
  position: absolute;
  width: 100%;
}

#modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal-background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

#modal-content {
  animation: moveUp 1s cubic-bezier(0.165, 0.840, 0.440, 1.000);
  position: absolute;
  background-color: white;
  border-radius: 15px;
  max-height: 700px;
  min-width: 450px;
  overflow: scroll;
  overflow-x: hidden;
  max-width: 44rem;
}

#modal-content::-webkit-scrollbar,
#about-modal-content::-webkit-scrollbar {
  display: none;
}

@keyframes moveUp {
  0% {
    transform: translateY(300px)
  }

  100% {
    transform: translateY(0)
  }
}
