.about-links {
  align-items: center;
  column-gap: 1.5em;
  display: flex;
  justify-content: center;
  letter-spacing: -.06em;
}

.copyright {
  color: rgba(0, 0, 0, .75);
  font-size: 14px;
}

.dot {
  font-size: 7px;
}

.footer-container {
  align-items: center;
  background-color: #FFFFFF;
  border-top: 1px solid rgba(0, 0, 0, .11);
  bottom: 0;
  display: flex;
  height: 3.25em;
  justify-content: space-between;
  padding: 0 3.25em;
  position: fixed;
  width: 100%;
  z-index: 0;
}

.language,
.currency,
.about-me {
  align-items: center;
  cursor: pointer;
  display: flex;
  column-gap: .25em;
  justify-content: center;
  letter-spacing: -.06em;
}

.language-icon > a,
.about-me-icon {
  align-items: center;
  display: flex;
  justify-content: center;
}

.language-icon > a,
.language-text > a,
.currency-icon > a,
.currency-text > a,
.about-me-text {
  color: black;
  text-decoration: none;
  transition: text-decoration 0.2s ease;
}

.language-text > a:hover,
.currency-text > a:hover,
.about-me-text:hover {
  text-decoration: underline;
}

.privacy>a,
.terms>a,
.sitemap>a,
.destinations>a {
  color: rgba(0, 0, 0, .75);
  font-size: 14px;
  text-decoration: none;
  transition: text-decoration 0.2s ease;
}

.privacy>a:hover,
.terms>a:hover,
.sitemap>a:hover,
.destinations>a:hover {
  text-decoration: underline;
}

.site-links {
  align-items: center;
  display: flex;
  column-gap: .65em;
  justify-content: center;
  letter-spacing: -.06em;
}
