* {
  box-sizing: border-box;
  font-size: 16px;
  line-height: 20px;
  font-family: "Montserrat";
}

html, body {
  width: 100%;
  margin: 0;
}

#root {
  align-items: center;
  display: flex;
  flex-direction: column;
}
