.bold {
  font-weight: 600;
}

.spot-card {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  max-width: 315px;
  min-width: 240px;
  }

.spot-card>div {
  flex-grow: 1;
}

.spot-card-img {
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  flex-grow: 3;
  height: 250px;
}

.spot-text-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.top-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
