.bold {
  font-weight: 600;
}

.dates {
  padding-bottom: .5em;
}

.spot-card {
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.spot-card-img {
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  flex-grow: 3;
  height: 250px;
  margin-bottom: .75em;
}

.spot-text-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.time-ago,
.dates {
  color: gray;
}

.top-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
