.bold {
  font-weight: 600;
}

.spot-card {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  }

.spot-card>div {
  flex-grow: 1;
}

.spot-card>img {
  border-radius: 10px;
  flex-grow: 3;
}

.spot-text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.top-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
