.splash-container {
  border: 1px solid red;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  width: 100%;
  flex-wrap: wrap;
  padding: 0 40px 0 40px;
}

.splash-container > div {
  border: 1px solid blue;
  border-radius: 4px;
  width: 200px;
  height: 300px;
  margin: 10px;
  flex-grow: 1;
}
