.splash-container {
  display: grid;
  grid-column-gap: .1em;
  grid-row-gap: 1.5rem;
  grid-template-columns: repeat(6, auto);
  padding: 0 2.75em 0 2.75em;
  margin: 2em 2em;
  width: 100%;
}

@media (max-width:1920px){
  .splash-container {
    grid-template-columns: repeat(5, auto);
  }
}

@media (max-width: 1660px){
  .splash-container {
    grid-template-columns: repeat(4, auto);
  }
}

@media(max-width: 1320px) {
  .splash-container {
    grid-template-columns: repeat(3, auto);
  }
}

.splash-container > div {
  border-radius: 10px;
  margin: .75rem;
  max-width: 19rem;
}
