.b-1,
.b-2 {
  color: black;
  font-size: 20px;
}

.b-1 {
  padding-left: 1rem;
}

.hidden-btns {
  display: none;
}

.host-btn-nav {
  border-radius: 2em;
  color: black;
  margin-right: 2em;
  padding: .75em;
  text-decoration: none;
  transition: background-color 0.2s ease;
}

.host-btn-nav:hover {
  background-color: rgba(0, 0, 0, .06);
}

.home-icon {
  align-items: center;
  display: flex;
  font-size: 26px;
  font-weight: 800;
  letter-spacing: -.075em;
  text-decoration: none;
}

.nav-container {
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, .11);
  border-top: 1px solid #000;
  background-color: white;
  display: flex;
  height: 80px;
  justify-content: space-between;
  padding: 0 6vh 0 6vh;
  position: sticky;
  top: 0;
  width: 100%;
}

.logo {
  height: 4rem;
  width: 4rem;
}

.r {
  color: #FF385C;
  font-size: 26px;
}
