.b-1,
.b-2 {
  color: black;
  font-size: 20px;
}

.b-1 {
  padding-left: .5rem;
}

.hidden-btns {
  display: none;
}

.host-btn-nav {
  align-items: center;
  border-radius: 2em;
  color: black;
  display: flex;
  flex-grow: 1;
  font-size: 14px;
  height: 2.75rem;
  justify-content: center;
  padding: .75em;
  text-decoration: none;
  transition: background-color 0.2s ease;
}

.host-btn-nav:hover,
.language-nav:hover {
  background-color: rgba(0, 0, 0, .06);
}

.home-icon {
  align-items: center;
  display: flex;
  font-size: 26px;
  font-weight: 800;
  letter-spacing: -.075em;
  text-decoration: none;
}

.language-nav {
  align-items: center;
  border-radius: 50%;
  display: flex;
  flex-grow: 1;
  height: 2.75rem;
  justify-content: center;
  margin-right: .75rem;
  padding: .75em;
  transition: background-color 0.2s ease;
  width: 2.75rem;
}


.nav-container {
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, .11);
  border-top: 1px solid #000;
  background-color: white;
  display: flex;
  height: 80px;
  justify-content: space-between;
  padding: 0 3.5em 0 3.5em;
  position: sticky;
  top: 0;
  width: 100%;
}

.logo {
  height: 2.75rem;
  width: 2.75rem;
}

.r {
  color: #FF385C;
  font-size: 26px;
}

.right-buttons {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
