i.fa-user-circle {
  font-size: 30px;
  color: #717171;
}

i.fa-bars {
  font-size: 15px;
  color: #222222;
}

.profile-btn:hover {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, .18);
}

.host-btn {
  background-color: white;
  border: none;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.2s ease;
  text-align: left;
  width: 100%;
}

.host-btn:hover {
  background-color: rgba(0, 0, 0, .06);
}

.profile-btn {
  align-items: center;
  border-radius: 21px;
  border: 1px solid #DDDDDD;
  background-color: white;
  cursor: pointer;
  display: inline-flex;
  height: 42px;
  justify-content: space-around;
  transition: box-shadow 0.2s ease;
  padding: 5px 5px 5px 12px;
  position: relative;
  text-decoration: none;
  width: 77px;
  vertical-align: center;
}

.profile-dropdown,
.login-signup-dropdown {
  align-items: flex-start;
  background-color: white;
  border: 1pd solid #DDDDDD;
  border-radius: 10px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, .15);
  color: #222222;
  cursor: pointer;
  flex-direction: column;
  gap: 15px;
  display: flex;
  justify-content: center;
  margin: 10px 0px 10px 0px;
  padding: 10px 0px 10px 0px;
  position: absolute;
  right: 40px;
  width: 250px;
}

.login-signup-dropdown > hr {
  background-color: rgba(0, 0, 0, .01);
  width: 100%;
}
